<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hilbertgilbertson.whencord</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>53722C46-90B6-495D-A353-C1BC0E186607</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CADF42C7-98D4-4FB3-9700-D92EECA28BED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85976E9B-60B4-44F9-BED5-8599BF7186BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>712C76EA-DA77-41BF-843C-E6E118235A9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>007635C6-7C1B-46F0-A948-966D26FB7873</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C5A5E50F-E8D5-46AF-8583-2EC069870DE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B40D5DD4-1E45-4270-9276-3438A2574B0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85976E9B-60B4-44F9-BED5-8599BF7186BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C31BBC15-5457-468E-BF23-4E5F121A5A84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53722C46-90B6-495D-A353-C1BC0E186607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CADF42C7-98D4-4FB3-9700-D92EECA28BED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95729910-A0F5-4E0E-8768-3582FEF28570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>HilbertGilbertson</string>
	<key>description</key>
	<string>Takes a time string and converts it to a dynamic timestamp for sharing in Discord.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Whencord</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>712C76EA-DA77-41BF-843C-E6E118235A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Enter Date/Time</string>
				<key>script</key>
				<string>#!/bin/bash
eval "$(/opt/homebrew/bin/brew shellenv)"
php whencord.php $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter Date/Time</string>
				<key>title</key>
				<string>Enter Date/Time</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B40D5DD4-1E45-4270-9276-3438A2574B0A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:launch}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>url</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>007635C6-7C1B-46F0-A948-966D26FB7873</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>85976E9B-60B4-44F9-BED5-8599BF7186BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C5A5E50F-E8D5-46AF-8583-2EC069870DE8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.DiscordPTB</string>
					<string>com.hnc.Discord</string>
					<string>com.hnc.DiscordCanary</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C31BBC15-5457-468E-BF23-4E5F121A5A84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$query = getenv('query');
$query = trim(preg_replace('/\s+/', ' ', $query));

echo $query;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CADF42C7-98D4-4FB3-9700-D92EECA28BED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>wc {query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>95729910-A0F5-4E0E-8768-3582FEF28570</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>53722C46-90B6-495D-A353-C1BC0E186607</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Takes a time string and converts it to a dynamic timestamp for sharing in Discord.

------
CONFIG
------
• localTimezone (OPTIONAL)

This should ONLY need to be set if you want to use a different timezone than your system clock. If left blank, your system timezone will be used automatically. Example value: "America/New_York"

For available settings see:
https://www.php.net/manual/en/timezones.php

• locale

This variable is auto-created to match your main system language, but can manually be set to any locale supported by moment.js.

For available locales see:
https://github.com/moment/moment/tree/develop/locale

• nodePath

This variable is auto-created to match the path to your nodejs binary, but can manually be set if you wish to use a different bin (e.g. /usr/local/bin/node or wherever you have it installed.)

Also don't forget to set a quick hotkey (e.g. ⌘T) in the workflow settings!</string>
	<key>uidata</key>
	<dict>
		<key>53722C46-90B6-495D-A353-C1BC0E186607</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>712C76EA-DA77-41BF-843C-E6E118235A9C</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>85976E9B-60B4-44F9-BED5-8599BF7186BC</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>95729910-A0F5-4E0E-8768-3582FEF28570</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>B40D5DD4-1E45-4270-9276-3438A2574B0A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>C31BBC15-5457-468E-BF23-4E5F121A5A84</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C5A5E50F-E8D5-46AF-8583-2EC069870DE8</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>CADF42C7-98D4-4FB3-9700-D92EECA28BED</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>localTimezone</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/HilbertGilbertson/alfred-whencord</string>
</dict>
</plist>
